<div class="footer">
        <a href="https://www.facebook.com/profile.php?id=100005255746624" target="_blank"> <img class="fb" src="Image/facebook.png" alt=""></a>
        <a href="https://github.com/noob-nilarghya" target="_blank"><img class="git" src="Image/github.png" alt=""></a>
        <a href="https://www.linkedin.com/in/nilarghya-roy-6a7637201/" target="_blank"><img class="in" src="Image/linkedin (1).png" alt=""></a>
        <p class="copy"> © 2020-24 Shovan Kr. Roy | Jhumpa Roy</p>
        <p class="love">Made with 💖 by NIL</p>
    </div>
    


</body>

</html>